<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <%- include('modules/links.ejs') %>
  </head>
  <body>
    <%- include('modules/navbar.ejs') %>
    <main>
      <div class="row d-flex justify-content-center">
        <div class="col-3">
          <form class="mt-5" action="/director/login" method="post">
            <h2>Formulario de Login</h2>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="email"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                name="password"
              />
            </div>

            <p style="color: red"><%= message %></p>

            <button type="submit" class="btn btn-primary">Submit</button>
            <button
              type="button"
              class="btn btn-primary"
              onclick="window.location.href='/'"
            >
              Cancelar
            </button>
            <p>
              No estás registrado?
              <a href="/director/registerForm">hazlo aqui.</a>
            </p>
          </form>
        </div>
      </div>
    </main>

    <%- include('modules/footer.ejs') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
