<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/director/list">Directores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/film/allFilms">Peliculas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
          <li class="nav-item">
            <button
              class="btn btn-primary"
              onclick="window.location.href='/director/registerForm'"
            >
              Register
            </button>
            <button
              class="btn btn-primary"
              onclick="window.location.href='/director/loginForm'"
            >
              Login
            </button>
            <button
              class="btn btn-primary"
              onclick="window.location.href='/film/createFilmSelectForm'"
            >
              Añadir pelicula
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
