<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenid@s a home</h1>
    <button onclick="window.location.href='/users/registerForm'">register</button>
    <button onclick="window.location.href='/users/loginForm'">login</button>
    <button onclick="window.location.href='/users/list'">lista usuarios</button>

  </body>
</html>
