<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>vista de un usuario</h1>
    <div>
        <p>nombre: <%= result.name %></p>
        <p>apellidos: <%= result.lastname %></p>
        <button onclick="window.location.href='/users/list'">volver</button>
    </div>
</body>
</html>