<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profile de un user</h1>
    <h2><%= result.name %></h2>
    <h2><%= result.lastname %></h2>

    <div>
        <button>eliminar</button>
        <button onclick="window.location.href='/users/showEditForm/<%= result.id_user %>'">editar</button>
    </div>
</body>
</html>