<!DOCTYPE html>
<html>
  <head>
    <%- include('./modules/links.ejs') %>
    <title>Welcome!</title>
  </head>
  <body>
    <%- include('./modules/navbar.ejs') %>
    <main>
      <h1 class="text-center pt-5">
        No se ha encontrado nada relacionado con: <%= type %>
      </h1>
    </main>
    <%- include('./modules/footer.ejs') %>
  </body>
</html>
